DB_URL_SQLITE=sqlite:/var/www/html/sqlite_db/notes-app.sqlite

# Add the path to your auth.json file on your host to the newly created .env
# COMPOSER_AUTH_PATH=/path/to/auth.json

DB_URL_MYSQL=mysql:host=db;dbname=notes_app
# Change this in a production environment
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=root

# Xdebug
XDEBUG_HOST_PORT=9003