# Use this as a base when running Sparkframe locally (see Readme).
# This must be the absolute path to the sqlite_db folder.
# the notes-app.sqlite file will be created when following the instructions in the Readme.
DB_URL_SQLITE=sqlite:/absolute/path/to/sqlite_db/notes-app.sqlite

DB_URL_MYSQL=mysql:host=127.0.0.1;dbname=notes_app
# Change this in a production environment
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=roots