# Use this as a base when running Sparkframe locally (see Readme)
DB_URL_SQLITE=sqlite:/absolute/path/to/sqlite_db/notes-app.sqlite

DB_URL_MYSQL=mysql:host=127.0.0.1;dbname=notes_app
# Change this in a production environment
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=roots